
<section>
  <div>
    <h1>Birdperson</h1>
    <table>
      <tbody>
        <tr>
          <td class="info-left">Species:</td>
          <td class="info-right">
            Bird Person
          </td>
        </tr>
        <tr>
          <td class="info-left">Age:
          </td><td class="info-right">~40
          </td>
        </tr>
        <tr>
          <td class="info-left">Status:
          </td><td class="info-right">Unknown (presumed deceased)
          </td>
        </tr>
        <tr>
          <td class="info-left">Place of origin:
          </td><td class="info-right">Bird World
          </td>
        </tr>
        <tr>
          <td class="info-left">Relationships:
          </td><td class="info-right">Rick Sanchez (friend) <br> Tammy Gueterman (spouse) <br> Squanchy (friend)
          </td>
        </tr>
        <tr>
          <td class="info-left">First seen in:
          </td><td class="info-right"><i> Business">Ricksy Business</i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="quote">
  <dl>
    <dd>
      <span style="padding:.5em .5em; font-style:italic; font-size:medium;"><i>In bird culture, this is considered a dick move.</i></span>
    </dd>
    <dd>
      —Birdperson, regarding Morty abandoning Rick<sup class="noprint">src]</sup>
    </dd>
  </dl>
  </div>
  <b>Birdperson</b> is a character who appears in the episodes "Ricksy Business", "Get Schwifty", and ">"The Wedding Squanchers". He is an old friend of Rick's, and has seemingly known Morty since he was a baby. He attends Rick's party looking for a new mate after ending his soul-bond with his previous spirit-partner. At the end of the episode, however, he gets back in the saddle with one of Summer's high school friends, Tammy.

  <h2>
    <span class="mw-headline" id="Biography">Biography</span>
  </h2>
  <p>
    Birdperson first appears in "Ricksy Business", attending Rick's party, where he hooks up with Summer's friend ="mw-redirect">Tammy. He is also one of the very few party-goers who remains afterward to help clean up, although he may have just been waiting for Tammy to be ready to leave.
  </p>
  <p>
    He explained to Morty that "Wubba lubba dub dub" means "I am in great pain, please help me." in his native language.&nbsp;At first, Morty does not believe Rick, if he even knows of it, means it sincerely.&nbsp; However, this knowledge spurs Morty to eventually press Rick into action to preserve their ability to go on adventures together.
  </p>
  <p>
    He reappears, along with Tammy, in the episode, Get Schwifty, saving Morty's life. He explains to him that leaving Rick was a "dick move", and that Rick cares about him. And if it wasn't for Rick, he would be dead, and would never have met Morty. He recharges the Portal gun,&nbsp;and sends Morty back to Rick.
  </p>
  <p>
    In The Wedding Squanchers, he and Tammy get married and have a huge wedding party. During this time, he confessed to Beth that he and Rick are wanted by the Federation for committing "crimes in the name of freedom" which Beth shrugs off. Birdperson would very soon be betrayed, when Tammy reveals herself to be a member of the Galactic Federation secret service and shoots him multiple times, followed by a shootout with the rest of the criminals in the room.
  </p>

  <h2>
    <span class="mw-headline" id="Personality">Personality</span>
  </h2>
  <p>
    Birdperson is very wise, having experienced so much about the universe, its government, and possibly more, with and without his best friend, Rick. He offers well-meaning advice to anyone willing to listen to him. Usually Morty. Although at times he can be perceived as tedious, most notably to Beth, because of his monotone voice, limited facial expressions and scarce bodily movement.
  </p>

  <h2>
    <span class="mw-headline" id="Appearance">Appearance</span>
  </h2>

  <p>
    Birdperson is a tall, green humanoid with bird-like features. His skin is green at an extremely dim and light shade. He has two giant eagle wings with gray on the ends, that drape down among his back like a cape. He also wears yellow gloves, a red skirt, and yellow boots. He has a green, feathery helmet with white polka dots.
  </p>

  <h2>
    <span class="mw-headline" id="Quotes">Quotes</span>
  </h2>
  <ul>
    <li>
      "The Beacon was activated. Who is in danger?" <i>(First Quote)</i>
  </li>
  <li>
    "'Wubba lubba dub dub' means 'I am in great pain, please help me'."
  </li>
  <li>
    "'Gubba nub nub doo rah kah' means 'Whatever lets you sleep at night'."
  </li>
  <li>
    "You appear to be dying. I will make efforts to prevent this, but can promise nothing."
  </li>
  <li>
    "Is your intention to abandon Rick, using his own portal gun? In bird culture, this is considered a dick move."
  </li>
  <li>
    "Morty, suppose you could retrieve your family from Earth but had to abandon Rick. I could give your loved ones shelter on Birdworld, even jobs, possibly as worm ranchers. How often do you think you might look up at the stars and wonder what might have been, had you just put your faith in Rick?"
  </li>
  <li>
    "Tammy, I was approaching infertility when I met you but there is still time. I am yours until my death." <i>(Wedding Vow)</i>


      </div>


      </section>
