<section>


  <h1>Phil Ken Sebben</h1>

  <p>
   He is the deranged president and co-founder of the law firm Sebben & Sebben. In the original Birdman series, Phil's character was codenamed "Falcon Seven". His name in Harvey Birdman, Attorney at Law is a play on these words (Falcon Seven = Phil Ken Sebben). He is recognizable by his blond hair, an eyepatch and a dark suit. He co-founded the firm with twin brother Bill when they were twenty-six years old (they were distinguishable by the fact their eyepatches are on opposite eyes). He has a habit of laughing whenever he says a double entendre or a non sequitur, followed by a short joke. For instance, his arm seems to have been turned backwards after falling off a building. Once he gets up, Phil asks a passerby "Hey lady, I need a yank. Ha ha, Dislocation."
  </p>
  <p>
   Flashbacks to Phil's childhood invariably show him engaging in extremely dangerous practices involving his blind eye (such as pointing a sharp stick at it), making his blindness seemingly inevitable. These same flashbacks also show that he believes his eyepatch not to be his most noticeable physical characteristic, but rather an embarrassing scar which he received from a broken binder clip (which he grew his mustache to cover). He has numerous vision problems; it is implied that he is blind in the eye not covered by his eyepatch, and he states that he "sees everything 3 feet to the left" of where they really are, and must account for this fact. Said partial blindness causes him to kill Birdman in the series finale by hitting him with a bus, which crashes into a building. He confirms this by showing everyone Birdman's blood, causing everyone to laugh, as most episodes end.
  </p>


  <p>
    Despite these apparent vision problems, when seen using binoculars, a telescope, etc. over-top his eye-patch, there's an image of a perfectly functioning eye (with eyebrow) in the lens of the device, which even blinks in unison with his non-covered eye. This contradicts the one episode Phil lost his eye-patch and decided to simply not wear one (followed by trying out a clear eye-patch). Although the left side of his face was kept from the camera, the reaction of everyone in the office was that of disgust. He is voiced by Stephen Colbert. First appearance: "Death By Chocolate."
  </p>
</section>
